body {
	padding: 0;
	margin: 0;
	background: #f3f3f3;/*#f9f9f9*/
	font-family: OpenSans;
}
.wrapper {
	background: #fff;
	width: 1060px;
	height: 900px;
	margin: 0 auto;
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container {
	width: 965px;
	margin: 0 auto;
	position: relative;
}
.logo {
	background: #fff;
	padding-top: 50px;
}
.header {
	height: 30px;
	background: linear-gradient(to bottom, #5e5e5e, #444343);
	line-height: 30px;
	margin-top: 40px;
	text-shadow: 2px 3px #4a4a4a;
	font-size: 14.667px;

}
.header ul {
	list-style: none;
	margin-left: -40px;
}
.header li a {
	text-decoration: none;
	color: #fff;
	padding-left: 25px;
	padding-right: 60px;
	display: inline-block;
	height: 30px;


}

.header li {
	display: inline;
}
.header a:last-child {
	margin: 0;
}
.header a:hover {
	background: linear-gradient(to bottom, #4a4a4a, #2f2f2f);
	height: 30px;
	padding-left: 24px;
	padding-right: 59px;
	border-right: 1px solid #838383;
	border-left: 1px solid #838383;
}
.sidebar {
	width: 240px;
	display: inline-block;
	position: absolute;
	margin-top: 40px;
	margin-right: 40px;
}
.sidebar ul{
	list-style: none;
	margin-top: 0px;
	padding-left: 0;
	line-height: 40px;
}
.sidebar ul li {
	border: 1px solid #c8c8c8;
	height: 40px;
	/*padding-left: 20px;*/
	border-bottom: none;
}
.sidebar ul li:last-child {
	border-bottom: 1px solid #c8c8c8;
}

.sidebar li a {
	display: block;
	text-decoration: none;
	color: #7a7878;
	padding-left: 20px;
}
.sidebar  a:hover {
	color: black;
	padding-left: 35px;
	
}
.sidebar li:hover {
	background: #f9f9f9;
}
.contant {
	height: 400px;
	width: 675px;
	border: 1px solid #c8c8c8;
	display: inline-block;
	position: relative;
	left: 288px;
	top: 40px;
}
.contant img {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
p {
	position: relative;
	margin: 25px;
	left: 288px;
	width: 630px;
	top: 40px;
	font-size: 13.333px
}
.footer {
	position: relative;
	margin-top: 80px;
	background: #e1e1e1;
	height: 30px;
	font-size: 13.333px;
	
}
.footer ul {
	list-style: none;
	margin-left: -40px;
	line-height: 30px;
}
.footer li a {
	text-decoration: none;
	padding-left: 25px;
	padding-right: 60px;
	display: inline-block;
	height: 30px;
	color: #2c2c2c;


}

.footer li {
	display: inline;
}

.footer li:last-child {
	float: right;
}
.footer a:hover {
	text-decoration: underline;
}
@font-face {
    font-family: OpenSans; 
    src: url(2211.ttf);
   }
