body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Helvetica, Arial; }

.carousel-list {
  list-style: none;
  width: 15000px;
  padding: 0;
  position: relative; }

.carousel-element {
  display: block;
  float: left;
  margin-right: 25px;
  position: relative; }

.carousel-element,
img {
  max-width: 820px; }

.carousel-hider {
  width: 800px;
  overflow: hidden;
  float: left; }

.carousel-arrow-left,
.carousel-arrow-right {
  float: left;
  display: block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #B2EBF2;
  padding: 5px;
  margin: 250px 100px 0 100px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px; }

.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
  cursor: pointer;
  background-color: #80D8FF; }

.carousel-arrow-left:active,
.carousel-arrow-right:active {
  -webkit-box-shadow: -1px 0px 18px -1px #ffffff inset;
          box-shadow: -1px 0px 18px -1px #ffffff inset; }

.carousel-arrow-left {
  margin-right: 100px; }

.carousel-arrow-right {
  margin-left: 100px; }

.description {
  position: absolute;
  bottom: 20px;
  display: block;
  line-height: 45px;
  background-color: white;
  padding: 0 10px;
  font-size: 20px; }

.wrapper {
  position: relative;
  height: 100%; }

.sec-wrp {
  height: 100%;
  background-color: #F9FBE7; }

.question {
  padding: 3px 0; }

.label {
  display: block;
  padding: 1px; }

button[type="send"] {
  padding: 5px 25px;
  margin: 5px 50px; }
