.wrp-header {
  background: url('../img/bg.jpg') no-repeat center;
  background-size: cover;
  margin-bottom: 0.8rem;
}
.header {
  min-width: 320px;
  height: 540px;
  color: $main-white;

  &__logo_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 13.7rem;
    padding: 1.4rem;
  }
  &__enter_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 9.5rem;
    font-size: 0.875rem;
  }

  &__up {
    height: 36px;
    padding: 0.625rem 1rem;
    border: 2px solid $main-white;
    border-radius: 25px;
  }
  &__logo {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 1.875rem;
    line-height: 2.2rem;
    margin: 0.5rem 0;
  }
  &__text {
    font-family: "Roboto Light";
    font-size: 18px;
    min-width: 200px;
    line-height: 20px;
    display: block;
    padding: 0.15rem 3rem;
  }
}
//main

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  margin: auto;
}

//slider

.slider {


  &__list {
    padding: 0;
    margin: 0;
  }
  &__hider-hide {
    display: none;
  }

  &__item {
    box-shadow: inset 0px -180px 300px -130px;
    background: url('../img/work1.png') center no-repeat;
    background-size: cover;
    height: 240px;
    width: 300px;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 18px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
  }
  &__item-2 {
    background: url('../img/work2.png') center no-repeat;
    background-size: cover;
  }
  &__item-3 {
    background: url('../img/work3.png') center no-repeat;
    background-size: cover;
  }
  &__step {
    color: $main-white;
    font-size: 0.625rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
    background-color: $main-red;
    line-height: 20px;
    width: 70px;
    border-radius: 10px;
    margin-bottom: 0.4rem;
  }
}


//partners

.partners {
  width: 100%;
  margin: 0;
  padding: 0;

  &__item {
    width: 220px;
    margin: 0 auto 1.55rem auto;
  }
  &__item:last-child {
    margin: 0.7rem auto;
  }
  &__photo {
    @include sprite($partner1);
    border-radius: 50%;
    position: relative;
    margin: auto;
  }
  &__photo-2 {@include sprite($partner2);}
  &__photo-3 {@include sprite($partner3);}
  &__photo-4 {@include sprite($partner4);}

  &__ico {
    @include sprite($partner_ico1);
    position: absolute;
    left: 85px;
    top: 85px;
  }
  &__ico-2 {  @include sprite($partner_ico2);};
  &__ico-3 {  @include sprite($partner_ico3);};
  &__ico-4 {  @include sprite($partner_ico4);};

  &__name {
    display: block;
    color: $main-black;
    font-weight: 700;
    font-size: 0.875rem;
    margin: 1.2rem 0 0.95rem 0;
  }
}

//images

.img {
  width: 300px;
  margin: 0 auto;
  position: relative;

  &__container {
    position: relative;
    margin-bottom: 10px;
    width: 300px;
  }
  &__search_question {
    font-family: "Roboto Light";
    font-size: 1.1219rem;
    color: $main-black;
    display: block;
    margin: 0 auto 1rem auto;
  }
  &__result {
    height: 120px;
    z-index: 1;
    border-radius: 5px;
  }
  &__text {
    position: absolute;
    width: 66%;
    left: 18%;
    top: 50%;
    height: 60%;
    margin-top: -10%;
    overflow: hidden;
    font-size: 15px;
    color: $main-white;
    z-index: 2;
    text-transform: capitalize;
    font-family: "Montserrat Bold";
    font-size: 21.99px;
  }
  &__search {
    font-family: "Roboto Light";
    font-size: 14px;
    color: $main-grey;
    height: 40px;
    width: 280px;
    padding-left: 15px;
    border: 1px solid $main-grey;
    border-radius: 4px;
  }
}


#button {
  font-size: 13.96px;
  font-weight: 400;
}
#result {
  height: 100%;
  width: 300px;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
}

//footer

.wrp-footer {
  border-top: 4px solid $main-red;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
}
.footer__title {
  display: block;
  font-family: "Montserrat Bold";
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: $main-red;
  letter-spacing: 0.8px;
  margin: 1.2rem 0 1em 0;
}
.footer__comp {
  font-family: "Montserrat Bold";
  font-size: 14px;
  color: #000;
  display: block;
  width: 70px;
  margin:auto;
}
.footer__menu {
  width: 275px;
  font-family: "Roboto Light";
  font-size: 14px;
  margin: 0.1rem auto 2.2rem auto;
}
.footer__item {
  float: left;
  margin-right: 13px;
}
.footer__item a {
  color: #666666;
}
.footer__design {
  font-family: "Montserrat Bold";
  font-size: 9.95px;
  color: $main-grey;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  width: 93px;
  margin: 1rem auto 0.5rem auto;
}
.footer__design_img {
  @include sprite($areto);
  margin: 5px auto 15px auto;
}
