@media (min-width: 940px) {

.header {
  width: 960px;
}

.slider {
  width: 300px;

  &__hider {
    width: 300px;
  }
  &__container {
    width: 960px;
  }
  &__item {
    width: 300px;
  }
  &__left, &__right {
    top: 155px;
  }
}


 .partners {
    width: 940px;
    flex-direction: row;
    justify-content: space-between;


    &__container {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      width: 50%;

    }
  }
  .partner {
    width: 235px;
  }

  .img {
    width: 940px;

    &__container {
      width: 300px;
    }
    &__container:nth-child(5),
    &__container:nth-child(6),
    &__search:nth-child(5),
    &__search:nth-child(5) {
      width: 620px;
    }
  }
  #result {
    width: 940px;
  }

  .footer {
    width: 960px;
  }

}
