@media (max-width: 320px) {

.s-wrp {
  background: none;
}
.slider__content {
  margin: auto;
}
.slider__img_parent {
  display: none;
}
.radio__button--slider {
  margin-top: -1rem;
  padding-top: 0.7rem;
}

/******about*****/

.about-wrp {
  padding-top: 4.38rem;
}
.about__p {
  max-width: 90%;
}

/******main******/

main {
  padding-bottom: 5.3rem;
}
.main__top {
  max-width: 16.1rem;
  margin-left: 10%;
  padding-right: 1.8rem;
  padding-bottom: 1.5rem;
  float: right
}
.main_h__start {
  font-size: 1.5rem;
}
.main_h__end {
  display: block;
}
.main__top_p {
  padding-top: 0.5rem;
  max-height: 11rem;
}
.radio__button--main {
  padding-top: 1.7rem;
  clear: both;
}
.main__right {
  margin: 0;
  padding-left: 0.8rem;
  padding-top: 2.9rem;
  width: 100%;
}
.main-h__item {
  max-width: 12rem;
  max-height: 1.15rem;
  overflow: hidden;
}
.main__link_hidden {
  right: 0;
}

  /******partners******/

.main__partners {
  padding-bottom: 1rem;
}
 .partner_l {
   margin-top: 1.75rem;
   margin-bottom: 1.75rem;
 }

 /******coments******/

 .coments_wrp {
   display: none;
 }

 /*******footer*********/

 .menu__bottom {
   display: none;
 }
 .author__first {
   padding-top: 0.8rem;
   padding-bottom: 3.3  rem;
 }




}
