<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js 13-14</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/placeholder.js"></script>
	<script src="js/script.js">

	</script>
</head>
<body>

	<div class="sec-wrp">

		<script type="text/template" id="test">
			<form class="thrd-wrp" id="my-form">
				<div class="in-wrp">
    			<% for (let i in questions) { %>
               <h5 class="question"><%= questions[i].title %></h5>
               <% for (var j = 0; j < questions[i].answers.length; j++) { %>
                  <label class="label">
    								 <input type="checkbox" id="<%= 'q' + i + 'a' + j %>" name="<%= 'q' + i + 'a' + j %>">
    								 <%= questions[i].answers[j] %>
    							</label>
                  <div class="clearfix"></div>
                   <% } %>
           <% } %>
			 	</div>
			 	<button type="submit" id="send" name="send">Send</button>
			</form>
		</script>
	</div>
</body>
</html>
