$main_grey: #F5F5F5;
$main_color: #008857;      //green
html {
  box-sizing: border-box;
}
body {
  background-color: $main_grey;
  margin: 0;
}
a {text-decoration: none; color: #000;}

h1, h2, h3 {margin: 0; font-weight: 400;}

.wrp {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.45);
  opacity: 0;
  // padding-top: 200px;
  top: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: top 2s cubic-bezier(0.0, 0.5, 0.7, 1.0), opacity 2s cubic-bezier(0.0, 0.5, 0.7, 1.0);
}
.main {
  // padding: 20px;
  margin: auto;
}
.photo {
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid $main_color;
}

.object a:hover {
  text-decoration: underline;
}

.object {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #497;
  border-radius: 3px;
  clear: both;
  overflow: hidden;

  &__content {
    color: #263238;
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 5px;
  }
  &__title {
    display: block;
    padding: 5px;
    background-color: $main_color;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #fff;
  }
  &__title--inner {
    background-color: transparent;
    color: $main_color;
    border-top: 1px solid $main_color;
    border-bottom: 1px dashed $main_color;
  }
  &__title-big_size {
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
  }
  &__title--lower_size {
    font-size: 18px;
    letter-spacing: -1px;
  }
  &__variable {
    font-weight: 700;
    color: #000;
    &--green {
      color: $main_color;
    }
  }
  &__value {
    color: #000;
    &--print {
      visibility: hidden;
    }
  }
}

.object:first-child {
  border: 0;
}

.skill {
  margin-top: 4px;

  &__item {
    display: flex;
    width: 250px;
  }
  &__text {
    width: 120px;
    text-align: right;
    margin-right: 3px;
    color: #000;
  }
  &__scale {
    height: 10px;
    width: 1px;
    position: relative;
    background: $main_color;
    display: block;
    margin: 5px 0 9px 3px;
  }
}

.print {
  margin: auto;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  display: none;
  visibility: hidden;
}

.portfolio {
  background: #fff;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Work Sans', sans-serif;
  padding: 0 20px;
  margin: auto;

  &__title {
    margin: 20px auto;
    text-align: center;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
  }
  &__link {
    display: flex;
    flex-direction: column;
  }
  &__img {
    width: 100%;
  }
  &__tags {
    font-family: Arial;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    vertical-align: bottom;
    font-size: 100%;
  }
}
