@media (min-width: 680px) {
  .wrp {
    margin: auto;
  }
  .portfolio {

    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
    &__link {
    }
    &__img {
      width: 100%;
    }
  }
}

@media (min-width: 980px) {
  .wrp {
    width: 980px;
    font-size: 0.9em;
  }
  .portfolio__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media print {
  .object__variable {
    font-family: Arial;
  }
  .object__variable--hide_to_print {
    display: none;
  }
  .print {
    display: block;
    visibility: visible;
    padding-bottom: 30px;
  }
  .portfolio {
    visibility: hidden;
  }
  .object__value--print{
    visibility: visible;
  }
}
