@media (min-width: 680px) {
  .wrp {
    margin: auto;
  }
  .portfolio {
    height: 250px;

    &__container {
      width: 90%;
      flex-direction: row;
      justify-content: space-between;
    }
    &__link {
      width: 32%;
    }
    &__img {
      width: 100%;
    }
  }
}

@media (min-width: 980px) {
  .wrp {
    width: 980px;
    font-size: 0.9em;
  }
}

@media print {
  .object__variable {
    font-family: Arial;
  }
  .print {
    display: block;
  }
  .portfolio {
    display: none;
    visibility: hidden;
  }
}
