body {
  background-color: #F5F5F5;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

h1 {
  margin: 0;
  font-weight: 500; }

.wrp {
  height: 100%;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  opacity: 0;
  padding-top: 230px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main {
  margin: auto; }

.photo {
  display: block;
  height: 250px;
  width: 250px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 1rem auto;
  border: 1px solid #008857; }

.js {
  position: relative;
  height: 100%;
  width: 280px;
  margin: auto;
  line-height: 22px;
  font-size: 1.0625em;
  overflow: hidden;
  font-family: 'Hind', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .js__container {
    width: 250px; }

.var {
  color: #d50000;
  padding-right: 5px;
  display: inline-block; }

.variable {
  color: #0091EA; }

.value {
  color: #1B5E20; }

.comment {
  color: #ccc; }

.object {
  width: 280px;
  margin-bottom: 20px;
  font-family: 'Work Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #497;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .object__bracket {
    font-size: 22px;
    color: #304FFE;
    font-family: 'Work Sans', sans-serif; }
  .object__title {
    display: block;
    font-size: 20px;
    padding: 5px;
    width: 269px;
    color: white;
    background-color: #008857; }
  .object__title--inner {
    background-color: transparent;
    color: #008857;
    border-top: 1px solid #008857;
    border-bottom: 1px dashed #008857; }
  .object__title-big_size {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin: 0; }
  .object__title--lower_size {
    font-size: 18px;
    letter-spacing: -1px; }
  .object__content {
    color: #263238;
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 5px; }
  .object__variable {
    font-weight: 700; }
  .object__img {
    width: 280px; }

.object:first-child {
  border: 0; }

.skill {
  margin-top: 4px; }
  .skill__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 250px; }
  .skill__text {
    width: 120px;
    text-align: right;
    margin-right: 3px;
    color: #000; }
  .skill__scale {
    height: 10px;
    position: relative;
    background: #008857;
    display: block;
    margin: 5px 0 9px 3px; }

.portfolio {
  background: #fff;
  margin: 20px 0 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .portfolio__title {
    font-family: 'Work Sans', sans-serif;
    margin: auto;
    margin: 20px auto;
    text-align: center; }
  .portfolio__container {
    height: 160px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto; }
  .portfolio__img {
    width: 280px; }

@media (min-width: 768px) {
  .wrp {
    width: 700px;
    margin: auto; }
  .portfolio {
    margin-top: 15px; }
    .portfolio__container {
      height: 130px;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      margin: 0 auto; }
    .portfolio__img {
      width: 200px; } }

@media (min-width: 960px) {
  .wrp {
    width: 960px;
    font-size: 0.8em; }
  .portfolio {
    padding-bottom: 20px; }
    .portfolio__img {
      width: 280px; } }

@media print {
  .object {
    max-width: 700px; } }
