
@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/leaguegothic-regular-webfont.eot');
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
       url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
       url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    	 font-weight: normal;
       font-style: normal;
}
@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/leaguegothic-regular-webfont.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/opensans-light-webfont.eot');
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Opensans extra bold';
  src: url('../fonts/opensans-extrabold.eot');
  src: url('../fonts/opensans-extrabold.woff2') format('woff2'),
       url('../fonts/opensans-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* {
	box-sizing: border-box;
}
html {
  overflow-x: hidden;
}*/
div {
  height: "100%";
}
.h-wrp {
	height: 38em;
  width: 100%;
	background-color: hsla(225, 50%, 50%, 0.5);
	background: url(../img/bg.jpg) no-repeat top center;
	background-size: cover;
}
.m-wrp {
	height: 500px;
	background-color: hsla(245, 70%, 30%, 0.5);
}
.f-wrp {
	height: 200px;
	background-color: hsla(195, 30%, 50%, 0.5);
	background-position: top center;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: 'League Gothic', arial;
}
p {
  font-family: 'Open Sans';
}

          /*логотип*/
.logo {
 	font-size: 3em;
	color: #fff;
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
  flex-grow: 2;
  font-family: 'League Gothic';
  display: inline;
  float: left;

}
.head_top .logo-end {  /*колір логотипа*/
	color: #61436f;
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
}



/********HEAD MENU************/

.header {
  padding: 50px 0 0 0;
  display: block;
  max-width: 960px;
  margin: auto;
  height: 100px;
}
.head_top {
  display: inline;
}
.head--menu {
  float: right;
}
.head--menu>.menu__list {
	display: inline;
}
.menu__item {
  display: inline;
  margin: 0 1.2em;
}
.menu__link {
	color: #fff;
	font-size: 1.5em;
  font-weight: 400;
	line-height: 2.35em;
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
  font-family: 'League Gothic';
}
.menu__link:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid rgb(237, 191, 255);
}

     /*slider*/

.slider {
  padding-top: 8em;
  float: top;
  padding-bottom: 5em;
	letter-spacing: 0.1;
  font-family: 'League Gothic';
  max-width: 960px;
  margin: auto;
  position: relative;
}
.slider__h2 {
	font-size: 3.75em;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  letter-spacing: 0.1px;
}
.slider__span {
	font-size: 2em;
	color: #edbfff;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  word-wrap: normal;
}
.slider__p {
  margin-top: 0.3em;
	font-size: 1.125em;
  line-height: 1.35em;
	font-family: 'Open Sans Light', Arial;
  color: #fff;
  max-width: 100%;
  height: 50px;
}
.slider__content {
  float: left;
  max-width: 55%;
  min-width: 35%;

}

/*позиціонуємо телефон*/

.slider__img_parent {
  display: block;
  float: right;
  position: relative;
}
.slider__img {
  position: absolute;
  top: -6em;
  width: 17.125em;
  right: 4.5em;
}

/*радіо кнопки під слайдером*/

.radio__button--slider {
  height: 10px;
  width: 100px;
  margin-top: 14.2em;
  margin-bottom: 3.4em;
  margin-left: 67%;
}


/************ABOUT*************/

.about-wrp {
  background: #745083;
  border-top: 1px solid #33253a;
  width: 100%;
  height: 100%;
  padding-top: 4.75em;
  padding-bottom: 6.4em;
  box-shadow: 0px 6px 20px -10px rgba(0,0,0,0.75);
}
.section {
  color: #fff;
  font-family: 'League Gothic', Arial;
  max-width: 960px;
  margin: auto;
}
.about {
  max-width: 30%;
  max-height: 10em;
  padding-left: 0.7em;
  display: inline-block;
}
.about__h3 {
  font-size: 1.875em;
}
.about__p {
  font-family: 'Open Sans Light', Arial;
  overflow: hidden;
  height: 7.5em;
  max-width: 100%;
  line-height: 1.5em;
  margin-top: 0.5em;
  word-wrap: break-word;
}
.about__setting,
.about__message,
.about__music {
  background-color: red;
  background: url('../img/Untitled-1.png');
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin: 6px;
}
.about__message {
  background: url('../img/Untitled-2.png') no-repeat;
}
.about__music {
  background: url('../img/Untitled-3.png') no-repeat;
}
.about__content {
  padding: 0 0 0 25px;
}
.about__link {
  color: #fff;
  float: right;
  margin-top: 1.16em;
  margin-right: 1em;
  font-size: 1.2em;
  letter-spacing: 0.01em;
}
.about__link:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/*********MAIN*********/

.main-wrp {
  background: #f9f9f9;
}
.main {
  height: 28em;
  padding-top: 6.35em;
  padding-bottom: 5.6em;
  margin: auto;
  max-width: 960px;
}
.main__left {
  width: 49%;
  float: left;
}
.main_h__start {
  font-size: 1.875em;
}
.main_h__end {
  color: #edbfff;
}
.main__top {
  background: #fff;
  padding-left: 2.38em;
  padding-top: 2em;
  padding-right: 2em;
  padding-bottom: 2.2em;
  line-height: 1.5em;
  margin-left: 1.25em;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 7px 17px -16px rgba(0,0,0,0.75);
  position: relative;
}
@media (min-width: 960px) {
  .main__top::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 21px solid #fff;
  	border-left: 21px solid transparent;
    position: absolute;
    bottom: -1.2em;
    left: 22.8em;
  }
}
.main__top_p {
  font-size: 1em;
  padding-top: 0.75em;
  letter-spacing: -0.5px;
  word-spacing: 0.9px;
}
.main__icon {
  background: url('../img/user.png');
  height: 49px;
  width: 49px;
  position: absolute;
  left: -1.5em;;
  top: 1.15em;
}

/***********radio__button--main************/

.radio__button--main {
  position: relative;
  left: 40.5%;
  margin-top: 1.84em;
  width: 100px;
}

/***************main right***************/

.main__right {
  height: 100%;
  width: 45%;
  padding-top: 1.95em;
  padding-left: 1.7em;
  float: right;
}
.main_h__right {
  font-size: 1.85em;
}
.main-r__link {
  color: #000;
  font-family: 'Opensans extra bold';
  letter-spacing: 0.1px;
}
.main__item1 {
  padding-top: 1.3em;
  padding-bottom: 0.8em;
  letter-spacing: -0.2px;
  word-spacing: -0.8px;
}
.main__item2 {
  padding-top: 0.85em;
  letter-spacing: -0.2px;
  word-spacing: -0.8px;
}
.main__item3 {
  padding-top: 1.5em;
  letter-spacing: -0.2px;
  word-spacing: -0.8px;
}
.main__p {
  padding-top: 0.5em;
}
.main__item1::before {
  content: '';
  background: url('../img/circle_bg.png');
  height: 47px;
  border-radius: 50%;
  width: 47px;
  margin-left: 0.1em;
  margin-right: 1.05em;
  display: flex;
  flex: 0 0 60px;
  background-position: 0 5px;
  float: left;
}
.main__item2::before {
  content: '';
  background: url('../img/circle_bg.png');
  height: 47px;
  border-radius: 50%;
  width: 47px;
  margin-left: 0.1em;
  margin-right: 1.05em;
  display: flex;
  flex: 0 0 60px;
  background-position: 0 70px;
  float: left;
}
.main__item3::before {
  content: '';
  background: url('../img/circle_bg.png');
  height: 47px;
  border-radius: 50%;
  width: 47px;
  margin-left: 0.1em;
  margin-right: 1.05em;
  display: flex;
  flex: 0 0 60px;
  background-position: 0 110px;
  float: left;
}
.main_end__link {
  font-family: 'League Gothic';
  font-size: 1.125em;
  color: #000;
  margin-top: 1.6em;
  margin-right: 0.9em;
  float: right;
}
.main__link_hidden {
  visibility: hidden;
  position: absolute;
}
.main_end__link:hover {
  text-shadow: 1px 1px 1px #ccc;
}

/*************partner*************/
.partner__wrp {
  background: #f9f9f9;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #d8d8d8;
  height: 100%;
  width: 100%;
  padding-top: 1.6em;
  padding-bottom: 2em;
  clear: both;
}
.main__partners {
  max-width: 775px;
  height: 100%;
  margin: auto;
}
.partner_l {
  margin: 0 1.5em 0 1.5em;
}
.partner__link1 {
  background: url('../img/partner__sprite.png');
  display: inline-block;
  height: 63px;
  width: 69px;
  margin-left: 0.2em;
}
.partner__link2 {
  background: url('../img/partner__sprite.png');
  background-position: 402px 0;
  display: inline-block;
  height: 63px;
  width: 72px;
}
.partner__link3 {
  background: url('../img/partner__sprite.png');
  background-position: 325px 0;
  display: inline-block;
  height: 63px;
  width: 65px;
}
.partner__link4 {
  background: url('../img/partner__sprite.png');
  background-position: 257px 0;
  display: inline-block;
  height: 63px;
  width: 54px;
  margin-left: 1em;
}
.partner__link5 {
  background: url('../img/partner__sprite.png');
  background-position: 197px 0;
  display: inline-block;
  height: 63px;
  width: 106px;
}
.partner__link6 {
  background: url('../img/partner__sprite.png');
  background-position: 90px 0;
  display: inline-block;
  height: 63px;
  width: 82px;
}

/****************coments part****************/

.coments_wrp {
  background-color: #ececec;
  padding-top: 5.9em;
  padding-bottom: 6em;
  height: 25em;
  width: 100%;
}
.coments {
  max-width: 960px;
  margin: auto;
  font-family: 'Open Sans';
}
.coments_h2 {
  font-family: 'League Gothic';
  font-size: 3em;
  display: block;
  text-shadow: inset 0 2px 3px #7a7a7a;
  background-clip: text;
  letter-spacing: -0.5px;
}
.coments_h2_end {
  color: #b9b9b9;
}
.coments__italic {
  text-shadow: 0.5px 0.9px 0 #fff;
  font-style: italic;
  font-family: 'Georgia';
  color: #ccc;
  display: block;
  margin-top: 0.9em;
  letter-spacing: -0.2px;
}
.coments_h3 {
  font-size: 1.875em;
  margin-left: -0.1em;
  font-family: 'League Gothic';
  font-weight: 500;
  text-shadow: 0.5px 0.9px 0 #fff;
  margin: 0 0 0 0.1em;
}
.coments_p {
  text-shadow: 0.5px 0.9px 0 #fff;
  color: #787878;
  line-height: 1.5em;
  letter-spacing: -0.4px;
  height: 10em;
  padding-top: 0.5em;
}
.coments__container {
  height: 12.7em;
  max-width: 30%;
  overflow: hidden;
  float: left;
  margin-left: 1em;
}

/************FOOTER*************/

.f-wrp {
  background: url('../img/footer__bg.jpg') no-repeat;
  background-size: cover;
  height: 8em;
  width: 100%;
}
.footer {
  max-width: 960px;
  margin: auto;
  padding-top: 2.4em;
  padding-bottom: 2.4em;
}
.menu__bottom {
  width: 100%;
}
.footer .menu__link {
  font-size: 1.27em;
}
.footer .menu__list {
  float: left;
}
.author__first {
  line-height: 2.5em;
  padding-right: -1px;
  color: #fff;
  font-family: 'Open Sans light';
  font-size: 0.75em;
  float: right;
}
.author__end {
  font-family: 'Opensans extra bold';
  color: #fff;
}

/*********for 768 width*********/

@media (max-width: 768px){
  .logo {
    color: red;
  }
  .head_top {
    flex-direction: column;
  }
  .head--menu  {
    justify-content: flex-start;
  }
  .menu__list {
    margin-top: 1.4rem;
    margin-bottom: 4.4rem;
  }
  .head--menu .menu__list {
    padding-right: 15%;
  }
 /*********slider***********/
 .slider {
   max-width: 768px;
   padding-top: 6.1rem;
   padding-left: 1.6rem;
   padding-bottom: 6.6rem;
 }
 .slider__h2 {
   font-size: 3rem;
 }
 .slider__span {
   font-size: 1.5rem;
   padding-top: 0.5rem;
   letter-spacing: -0.7px;
   word-spacing: -0.5px;
   max-height: 2rem;
   overflow: hidden;
 }
 .slider__p {
   font-size: 1rem;
   line-height: 1.8rem;
   max-height: 7rem;
   max-width: 18rem;
   overflow: hidden;
 }
.slider__img_parent {
  width: 48%;
}
.slider__img {
  top: -7.5rem;
  right: 2.8rem;
  max-width: 100%;
}
.radio__button--slider {
  margin-top: 2.6rem;
  margin-bottom: 6rem;
}
.section {
  max-width: 768px;
  padding-left: 2%;
  padding-right: 2%;
}
.about__h3 {
  font-size: 1.5rem;
}
.about {
  max-height: 11.5rem;
  margin-top: 0.1rem;
  margin-left: 0;
}
.about__p {
  height: 9rem;
  margin-top: 0.1rem;
}
.about__link {
  margin-top: 0.5rem;
}

/***********main*************/

.main_h__start {
  font-size: 1.5rem;
  max-width: 8rem;
  margin-bottom: -0.15rem;
}
.main__top {
  margin-top: -0.2rem;
  max-width: 19.8rem;
}
.main__top_p {
  max-height: 10rem;
  max-width: 16rem;
  overflow: hidden;
}
.main__right {
  padding-left: 1.2rem;
}
.main__p {
  max-height: 1.6rem;
  max-width: 16rem;
  overflow: hidden;
}
.main_end__link {
  margin-top: 1.1rem;
  margin-bottom: 0.1rem;
}

/*********partner*********/

.main__partners {
  padding-right: 1.1rem;
}

/*********coments*********/

.coments {
  max-width: 768px;
  padding-bottom: 0.2rem;
}
.coments_h2 {
  font-size: 2rem;
}
.coments__italic {
  padding-bottom: 0.5rem;
}
.coments_h3 {
  font-size: 1.5rem;
}
.coments_p {
  font-size: 1rem;
}
.coments__container {
  max-width: 13.5rem;
  padding-top: 0.45rem;
}
.coments__hidden {
  /*visibility: hidden;*/
}

/*******footer*******/

.footer {
  align-items: flex-end;
  padding-top: 0.95rem;
  padding-bottom: 2rem;
}
.menu__bottom {
/*  margin-bottom: 1.5rem;*/
}
.menu__bottom .menu__link {
  font-size: 1.25rem;
}
.menu__bottom>.menu__list {
  max-width: 88%;
}
.menu__bottom {
  max-width: 100%;
  flex-grow: 1;
}
.author__first {
  margin-bottom: 1rem;

}


}


/********for 480 width *********/

@media  (max-width: 480px){
.logo {
  width: 200px;
  margin: auto;
  color: green;
  display: block;
  text-align: center;
}

/********dropdown menu**********/

.head_top>.head--menu {
  float: left;
  width: 240px;
  clear: left;
}
.head--menu .menu__list {
  display: block;
  width: 244px;
  margin: auto;
  float: left;
}
.head--menu .menu__list .menu__item {
  display: block;
  text-align: center;
  width: 244px;
  margin-left: 0;

}
.head--menu .menu__list .menu__link {
  display: none;
}
.head--menu .menu__item_active .menu__link {
  display: inline;
}
.head--menu .menu__list:hover .menu__link {
  display: inline;
}
.head--menu .menu__list .menu__item:hover {
  /*background: url('../img/ie_menu_item_bg.png');*/
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  /*border-bottom: 2px solid rgb(237, 191, 255);*/
}



/********slider**********/


.slider {
  max-width: 480px;
  padding-left: 6.7%;
  padding-top: 5.8em;
  padding-bottom: 5.9em;
}
.slider__h2 {
  font-size: 2.25em;
}
.slider__span {
  padding-top: 0.2em;
  font-size: 1.125em;
  max-height: 1.6em;
}
.slider__content {
  max-width: 13em;
}
.slider__p {
  display: none;
}
.slider__img_parent {
  max-width: 44%;
  top: 1.2em;
  padding-left: 10em;
  position: relative;
  display: none;
}
.slider__img {
  right: 1.5em;
}

/*********radio button**********/

.radio__button--slider {
  width: 100px;
  padding-left: 15px;
  margin: auto;
  padding-top: 1.75em;
  padding-bottom: 3.5em;
}

/**********about***********/

.about-wrp {
  padding-bottom: 3em;
}
.section {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 4.5%;
  padding-right: 2.25%;
}
.about {
  max-width: 100%;
  padding-bottom: 1.5em;
}
.about__p {
  max-height: 4.7em;
}
.about__link {
  margin-top: 0.8em;
  margin-right: 0;
}

/**********main**********/

.main {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  padding-top: 4.5em;
}
.main_h__start {
  max-width: 100%;
  font-size: 1.875em;
}
.main__left {
  width: 97%;
}
.main__top {
  max-width: 100%;
  margin-left: 7.5%;
  padding-right: 1.5em;
}
.main__top_p {
  max-width: 100%;
  max-height: 12em;
  padding-top: 1.1em;
}

/*******main right********/


.main__right {
  width: 76%;
  margin: auto;
  margin-top: 2.5em;
}
.main__link_hidden {
  visibility: visible;
  width: 100px;
  right: 8.5%;
}
.main_end__link {
  visibility: hidden;
}

/********partners**********/

.partner__wrp {
  padding-bottom: 1.4em;
}
.main__partners {
  max-width: 480px;
  flex-wrap: wrap;
  padding: 0 12% 0 12%;
  justify-content: space-around;
}
.partner_l {
  margin: 4%;
}

/********coments***********/

.coments_wrp {
  padding-top: 4.5em;
  padding-bottom: 2em;
  height: 650px;
}
.coments {
  max-width: 480px;
  flex-direction: column;
}
.coments__container {
  max-width: 95%;
  max-height: 8.7em;
  margin: auto;
  margin-bottom: 3em;
}
.coments_h2 {
  font-size: 1.5em;
}
.coments__italic {
    margin-top: 0.4em;
    padding-bottom: 0;
}

/*******footer*******/

.footer {
  max-width: 480px;
}
.menu__bottom {
  width: 100%;
  display: block;
}
.menu__bottom>.menu__list {
  max-width: 100%;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.author__first {
  margin: auto;
  float: none;
}
}

/********for 320 width*********/

@media (max-width: 320px) {
.logo {
  color: blue;
}
.s-wrp {
  background: none;
}
.slider__content {
  margin: auto;
}
.slider__img_parent {
  display: none;
}
.radio__button--slider {
  margin-top: -1rem;
  padding-top: 0.7rem;
}

/******about*****/

.about-wrp {
  padding-top: 4.38rem;
}
.about__p {
  max-width: 90%;
}

/******main******/

.main {
  padding-bottom: 5.3rem;
}
.main__top {
  max-width: 16.1rem;
  margin-left: 10%;
  padding-right: 1.8rem;
  padding-bottom: 1.5rem;
  float: right
}
.main_h__start {
  font-size: 1.5rem;
}
.main_h__end {
  display: block;
}
.main__top_p {
  padding-top: 0.5rem;
  max-height: 11rem;
}
.radio__button--main {
  padding-top: 1.7rem;
  clear: both;
}
.main__right {
  margin: 0;
  padding-left: 0.8rem;
  padding-top: 2.9rem;
  width: 100%;
}
.main-h__item {
  max-width: 12rem;
  max-height: 1.15rem;
  overflow: hidden;
}
.main__link_hidden {
  right: 0;
}

  /******partners******/

.main__partners {
  padding-bottom: 1rem;
}
 .partner_l {
   margin-top: 1.75rem;
   margin-bottom: 1.75rem;
 }

 /******coments******/

 .coments_wrp {
   display: none;
 }

 /*******footer*********/

 .menu__bottom {
   display: none;
 }
 .author__first {
   padding-top: 0.8rem;
   padding-bottom: 3.3rem;
 }
}
