@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/myriadpro-regular.woff2");
  font-weight: normal;
  font-style: normal;
}
$main_blue: #248cec;
$main_black: #2a2d32;

$main_orange: #f4b60d;
$text_black: #2a2b2e;
$text_grey: #8a8a8a;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.wrp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Myriad Pro Regular", Tahoma;
}
.wrp_inner {
  height: 100%;
  width: 1160px;
  margin: auto;
  overflow: hidden;
}
.wrp-white {
  background-color: #fff;
}
.main_paragraph{
  color: $text_grey;
  line-height: 20px;
  font-size: 13px;
  font-family: "Arial Regular", Tahoma;
}
.header {
  width: 1160px;
  margin: auto;
}

.top_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  float: left;
}

.logo__img {
  background: url("../img/logo_bg.jpg");
  height: 36px;
  width: 36px;
  display: inline-block;
  margin: 37px 8px;
}

.logo__txt {
  float: right;
  padding-top: 36px;
  color: $main_black;
}

.logo__txt_top {
  font-size: 30px;
  line-height: 27px;
  margin: 0;
  font-weight: 700;
}
.logo__txt_bottom {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding-left: 1.5px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.links {
  float: right;
  list-style: none;
}

.links__item {
  display: block;
  width: 16px;
  float: left;
  height: 16px;
  background: url("../img/sprite_social.png");
  margin: 3px;
}

.facebook {
  background-position: 0 0;
}
.twitter {
  background-position: -32px 0;
}
.rss {
  background-position: 84px 0;
}
.linkedin {
  background-position: 50px 0;
}
.skype {
  background-position: 18px 0;
}

.facebook:hover {
  background-position: 0 18px;
}
.twitter:hover {
  background-position: -32px 18px;
}
.rss:hover {
  background-position: 84px 18px;
}
.linkedin:hover {
  background-position: 50px 18px;
}
.skype:hover {
  background-position: 18px 18px;
}

//MENU

.menu {
  height: 56px;
  width: 100%;
  background-color: $main_black;
  list-style: none;
  padding-left: 0;
}

.menu__item {

}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  line-height: 56px;
  padding: 0 40px;
  float: left;
  border-right: 1px solid #181a1d;
  text-transform: uppercase;
}
.menu__item:first-child {
  background-color: $main_blue;
}
.menu__link:hover {
  color: $main_orange;
}

//article

.wrp-article {
  padding: 60px 0;
}
.article {
  // padding: 550px 0;
}
.article__blocks {
  width: 370px;
  float: left;
  font-size: 0.8125em;
  margin-right: 25px;
}
.article__blocks:last-child {
  margin-right: 0;
}
.article__h {
  color: $text_black;
  padding: 15px 0;
  font-weight: 600;
  font-size: 20px;
}
.article__p {
 height: 3.5em;
 overflow: hidden;
 padding-bottom: 15px;
}
.article__link {
  display: block;
  line-height: 50px;
  text-decoration: none;
  color: $text_black;
  font-weight: 600;
}
.article__link:hover {
  color: $main_blue;
}
.article__link_arrow {
  display: inline-block;
  margin-left: 10px;
  height: 10px;
  width: 12px;
  background-image: url("../img/sprite_adv.png");
  background-position: 12px 0;
}
.article__link:hover .article__link_arrow {
  background-position: 24px 0;
}

.article__bg {
  height: 33px;
  width: 33px;
  background-image: url("../img/sprite_adv.png");
}
.article__bg-setting {
  background-position: 93px 0;
}
.article__bg-delivery {
  background-position: 60px 0;
}
.article__container {
  height: 15em;
  width: 235px;
  display: block;
  overflow: hidden;
}
.article__number {
  font-size: 90px;
  margin: -15px 30px 0 0;
  color: $text_grey;
  float: left;
}

///////////


.wrp-dark {
  background-color: $main_black;
  color: #fff;
  width: 100%;
}
.services {
  height: 495px;
  width: 1160px;
  margin: auto;
}
.main_title {
  padding: 45px 25px 45px 0;
  font-weight: bold;
  font-size: 24px;
}
.services__containers {
  float: left;
  text-decoration: none;
  color: #fff;
  padding-left: 25px;
}
.services__containers:hover {
  color: $main_orange;
}
.services__img {
  display: block;
  height: 260px;
  width: 260px;
  background: url("../img/services1.jpg");
  background-position: right;
}
.services__img-maintence {
  background: url("../img/services2.jpg");
  background-position: center;
}
.services__img-tire {
  background: url("../img/services3.jpg");
  background-position: right;
}
.services__img-repair {
  background: url("../img/services4.jpg");
  background-position: center;
}
.services__link {
  display: block;
  text-align: center;
  padding: 10px;
}

.services__bg {
  visibility: hidden;
}
.services__containers:hover .services__bg {
  background: rgba(30,90,255,.7);
  color: #fff;
  font-size: 60px;
  text-align: center;
  line-height: 260px;
  margin-top: auto;
  height: 100%;
  width: 100%;
  visibility: visible;
}

//GREY WRAPPER

.wrp-grey {
  background-color: #f7f7f7;
  height: 580px;
}
.latest_news {
  width: 555px;

  float: left;
}
.latest_news__block {
  clear: both;
  margin-bottom: 75px;
  position: relative;
}
.latest_news__img {
  height: 150px;
  width: 150px;
  float: left;
  margin: 0 18px;
  z-index: 1;
}
.latest_news__square {
  height: 40px;
  width: 40px;
  background-color: $main_blue;
  position: absolute;
  z-index: 5;
  top: 15px;
  right: 518px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
.latest_news__square-orange {
  background-color: $main_orange;
  position: absolute;
  top: 55px;
  color: #000;
  z-index: 5;
}

.latest_news__title {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.latest_news__title:hover {
  color: $main_blue;
}
.latest_news__text {
  // float: left;
}
.latest_news__info {
  color: $text_grey;
  display: block;
  line-height: 20px;
}
.latest_news__info-blue {
  color: $main_blue;
}
.latest_news__paragraph {
  padding-top: 18px;
}

/////////////

.main_title-padding {
  margin-left: 50px;
}
.banners {
  overflow: hidden;
}
.fa {
  box-sizing: border-box;
  height: 39px;
  width: 39px;
  border-right: 2px solid #ddd;
  float: left;
  text-align: center;
  font-family: Arial, Tahoma;
}
.banners__container{
  float: right;
  position: relative;
  width: 560px;
  height: auto;
  margin: auto;
}
.banners__set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  margin: 10px 0;
}
.banners__set > .banners__link{
  display: block;
  height: 39px;
  line-height: 39px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border: 1px solid #ddd;
  transition:all 0.2s linear;
}
.banners__set > .banners__link i{
  position:relative;
}
.banners__set .active{
  background-color: $main_orange;
    color: #fff;
}
.active .fa {
  border-right: solid #fff 0.5px;

}
.banners__set > .banners__link .active i{
  color: #fff;
}
.banners__content{
  position:relative;
  height: 95px;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  color: $text_grey;
  height: auto;
  display:none;
}
.banners__content .banners__info{
  padding: 35px 15px 35px 40px;
  margin: 0;
  background-color: #f7f7f7;
}
.banners__title {
  padding-left: 12px;
  font-size: 13px;
  text-transform: uppercase;
}
.b_active {
  display: block;
}

//////////partner

.partners {
  padding: 50px 0 50px 0;

  // width: 1160px;
  height: 100%;
  clear: both;
}
.partner__link {
  display: block;
  padding-left: 52px;
  float: left;
}
.partner__link:first-child {
  padding-left: 0;
}

///footer

.wrp_footer {
  font-family: "Arial Regular";
}
.footer__menu {
  float: left;
  width: 260px;
  margin-right: 30px;
}
.footer__menu:last-child {
  margin-left: 0;
}
.main_title-footer {
  text-transform: uppercase;
}

.footer__link {
  text-decoration: none;
  color: $text_grey;
  line-height: 36px;
  display: block;
  border-bottom: 1px solid #393c40;
}
.footer__link:hover {
  color: $main_blue;
}
.footer__link-wob {
  border: none;
}

//footer bottom

.wrp-light_dark {
  background-color: #35383c;
  height: 60px;
  width: 100%;
  margin-top: 70px;
  overflow: hidden;
}
.bottom__text {
  line-height: 60px;
  color: $text_grey;
}
.bottom li {
  float: left;
  font-size: 12px;
}
.bottom li:last-child {
  float: right;
  padding-right: 0;
}
.bottom__text {
  padding-right: 36px;
}
.bottom__img {
  margin-top: 20px;
  margin-right: 10px;
  height: 20px;
  width: 16px;
  background: url("../img/footer_sprite.png");
}
.bottom__img-2 {
  background-position: 40px 0;
}
.bottom__img-3 {
  background-position: 20px 0;
}
.bottom__text-link {
  color: $text_grey;
  text-decoration: none;
}
