body {
	font-family: 'Helvetica Neue', Tahoma;
}

			/**************HEADER**************/

.header {
	height: 36px;
	width: 100%;
	background: url('../img/bg.jpg');
	overflow: hidden;

}
.header li {
	display: inline-block;
}
.header ul {
	float: right;
}
.header a {
	color: #60b5ed;
	text-decoration: none;
	display: block;
	height: 36px;
	line-height: 36px;
	padding-left: 15px;
	padding-right: 15px;
}

/*li:nth-child(6) {  /*підключив прапор
	background: url(../img/flag.png) no-repeat left center;
	padding-left: 20px;*/
}

li:nth-child(6)::before {
	background-image: url(../img/flag.png);
}

li:nth-child(5) a::after {
display: inline-block;
position: relative;
content: ' ';
height: 30px;
width: 1px;
top: 3px;
left: 20px;
background-color: #60b5ed;
}
/*li:nth-child(5) {
	border-right: 1px solid #60b5ed;
	height: 24px;
	position: relative;
	top: 3px;
}*/
.header li:hover {
	background: #4eabda;
	color: #fff;
}

					/************WRAPER*************/

.wrapper {
	background: url('../img/background.jpg') no-repeat ;
	background-size: 100%;
	background-position: cover;
	position: relative;
	height: 800px;

}
.form {
	height: 612px;
	width: 560px;
	background: rgba(0, 0, 0,.5);
	overflow: auto;
  	margin: auto;
 	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}
.form h1 {
	border-bottom: 1px solid #fff;
	line-height: 62px;
	text-align: center;
	color: #fff;
	font-size: 24px;
}

.container {
	width: 275px;
	margin: 0 auto;
}

.facebook {
	background: url('../img/facebook.png');
	height: 36px;
	background-position: center;
	margin-top: 35px;
	margin-bottom: 35px;
}
span {
	text-decoration-line: line-through;
	color: transparent;
}
	 				/********FONTS**********/

@font-face {
    font-family: 'Helvetica Neue';
    src: url(../css/HelveticaNeueCyr-Medium.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url(../css/HelveticaNeueCyr-Bold.otf);
    font-weight: bold;
    font-style: normal;
}



