@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Black';
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff"), url("../fonts/roboto-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Black Italic';
  src: url("../fonts/roboto-blackitalic-webfont.eot");
  src: url("../fonts/roboto-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-blackitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-blackitalic-webfont.woff") format("woff"), url("../fonts/roboto-blackitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Bold Italic';
  src: url("../fonts/roboto-bolditalic-webfont.eot");
  src: url("../fonts/roboto-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"), url("../fonts/roboto-bolditalic-webfont.woff") format("woff"), url("../fonts/roboto-bolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Italic';
  src: url("../fonts/roboto-italic-webfont.eot");
  src: url("../fonts/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-italic-webfont.woff2") format("woff2"), url("../fonts/roboto-italic-webfont.woff") format("woff"), url("../fonts/roboto-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Light Italic';
  src: url("../fonts/roboto-lightitalic-webfont.eot");
  src: url("../fonts/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-lightitalic-webfont.woff") format("woff"), url("../fonts/roboto-lightitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Medium Italic';
  src: url("../fonts/roboto-mediumitalic-webfont.eot");
  src: url("../fonts/roboto-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-mediumitalic-webfont.woff") format("woff"), url("../fonts/roboto-mediumitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto-thin-webfont.eot");
  src: url("../fonts/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto-thin-webfont.woff") format("woff"), url("../fonts/roboto-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Thin Italic';
  src: url("../fonts/roboto-thinitalic-webfont.eot");
  src: url("../fonts/roboto-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thinitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-thinitalic-webfont.woff") format("woff"), url("../fonts/roboto-thinitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  width: 100%; }

a {
  text-decoration: none;
  color: #fff;
  display: block; }

li {
  list-style: none; }

.wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  font-family: "Montserrat Regular", Tahoma, Arial;
  font-weight: 100;
  text-align: center; }

.main_p {
  margin: 0;
  font-family: 'Roboto Light';
  font-weight: 100;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #cccccc; }

.main_title {
  font-size: 1.375rem;
  color: #000;
  line-height: 1.7rem;
  margin: 1.5rem 0.5rem 0.8rem 0.5rem; }

.main_title-margin {
  margin: 1.15rem auto 0.7rem auto;
  letter-spacing: 0.3px; }

.main_title_big {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 1.8rem;
  margin: 0.6rem 0; }

.main_title-black {
  color: #000;
  font-size: 1.2rem; }

.circular {
  display: block;
  height: 40px;
  line-height: 36px;
  width: 280px;
  text-align: center;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin: 1rem auto;
  font-size: 0.875rem; }
  .circular-red {
    border-color: #ff4e50;
    background: #ff4e50;
    color: #fff; }

@media (min-width: 768px) {
  .main_title-margin_2 {
    margin: 1.55rem auto 0.5rem auto;
    letter-spacing: 0.3px; }
  .main_title-tablet_m {
    margin: 5.1rem 0 2rem 0; }
  .circular-margin {
    margin: 0.5rem auto 2.45rem auto; }
  .circular-tablet_w {
    width: 222px; }
  .circular-tablet_w2 {
    width: 190px; }
  .circular-tablet_w3 {
    width: 160px; } }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.wrp-header {
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 0.8rem; }

.header {
  min-width: 320px;
  height: 540px;
  color: #fff; }
  .header__logo_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 13.7rem;
    padding: 1.4rem; }
  .header__enter_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 9.5rem;
    font-size: 0.875rem; }
  .header__up {
    height: 36px;
    padding: 0.625rem 1rem;
    border: 2px solid #fff;
    -webkit-border-radius: 25px;
            border-radius: 25px; }
  .header__logo {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px; }
  .header__title {
    text-transform: uppercase;
    font-size: 1.875rem;
    line-height: 2.2rem;
    margin: 0.5rem 0; }
  .header__text {
    font-family: "Roboto Light";
    font-size: 18px;
    min-width: 200px;
    line-height: 20px;
    display: block;
    padding: 0.15rem 3rem; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  margin: auto; }

.slider__list {
  padding: 0;
  margin: 0; }

.slider__hider-hide {
  display: none; }

.slider__item {
  -webkit-box-shadow: inset 0px -180px 300px -130px;
          box-shadow: inset 0px -180px 300px -130px;
  background: url("../img/work1.png") center no-repeat;
  background-size: cover;
  height: 240px;
  width: 300px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 18px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: left; }

.slider__item-2 {
  background: url("../img/work2.png") center no-repeat;
  background-size: cover; }

.slider__item-3 {
  background: url("../img/work3.png") center no-repeat;
  background-size: cover; }

.slider__step {
  color: #fff;
  font-size: 0.625rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  background-color: #ff4e50;
  line-height: 20px;
  width: 70px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 0.4rem; }

.partners {
  width: 100%;
  margin: 0;
  padding: 0; }
  .partners__item {
    width: 220px;
    margin: 0 auto 1.55rem auto; }
  .partners__item:last-child {
    margin: 0.7rem auto; }
  .partners__photo {
    background-image: url(../sprites/sprite.png);
    background-position: -123px -126px;
    width: 122px;
    height: 122px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    margin: auto; }
  .partners__photo-2 {
    background-image: url(../sprites/sprite.png);
    background-position: -126px 0px;
    width: 124px;
    height: 124px; }
  .partners__photo-3 {
    background-image: url(../sprites/sprite.png);
    background-position: 0px -126px;
    width: 123px;
    height: 123px; }
  .partners__photo-4 {
    background-image: url(../sprites/sprite.png);
    background-position: 0px 0px;
    width: 126px;
    height: 126px; }
  .partners__ico {
    background-image: url(../sprites/sprite.png);
    background-position: -250px -24px;
    width: 41px;
    height: 41px;
    position: absolute;
    left: 85px;
    top: 85px; }
  .partners__ico-2 {
    background-image: url(../sprites/sprite.png);
    background-position: -291px -65px;
    width: 41px;
    height: 40px; }
  .partners__ico-3 {
    background-image: url(../sprites/sprite.png);
    background-position: -291px -24px;
    width: 41px;
    height: 41px; }
  .partners__ico-4 {
    background-image: url(../sprites/sprite.png);
    background-position: -250px -65px;
    width: 41px;
    height: 41px; }
  .partners__name {
    display: block;
    color: #000;
    font-weight: 700;
    font-size: 0.875rem;
    margin: 1.2rem 0 0.95rem 0; }

.img {
  width: 300px;
  margin: 0 auto;
  position: relative; }
  .img__container {
    position: relative;
    margin-bottom: 10px;
    width: 300px; }
  .img__search_question {
    font-family: "Roboto Light";
    font-size: 1.1219rem;
    color: #000;
    display: block;
    margin: 0 auto 1rem auto; }
  .img__result {
    height: 120px;
    z-index: 1;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .img__text {
    position: absolute;
    width: 66%;
    left: 18%;
    top: 50%;
    height: 60%;
    margin-top: -10%;
    overflow: hidden;
    font-size: 15px;
    color: #fff;
    z-index: 2;
    text-transform: capitalize;
    font-family: "Montserrat Bold";
    font-size: 21.99px; }
  .img__search {
    font-family: "Roboto Light";
    font-size: 14px;
    color: #cccccc;
    height: 40px;
    width: 280px;
    padding-left: 15px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
            border-radius: 4px; }

#button {
  font-size: 13.96px;
  font-weight: 400; }

#result {
  height: 100%;
  width: 300px;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden; }

.wrp-footer {
  border-top: 4px solid #ff4e50; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 250px; }

.footer__title {
  display: block;
  font-family: "Montserrat Bold";
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #ff4e50;
  letter-spacing: 0.8px;
  margin: 1.2rem 0 1em 0; }

.footer__comp {
  font-family: "Montserrat Bold";
  font-size: 14px;
  color: #000;
  display: block;
  width: 70px;
  margin: auto; }

.footer__menu {
  width: 275px;
  font-family: "Roboto Light";
  font-size: 14px;
  margin: 0.1rem auto 2.2rem auto; }

.footer__item {
  float: left;
  margin-right: 13px; }

.footer__item a {
  color: #666666; }

.footer__design {
  font-family: "Montserrat Bold";
  font-size: 9.95px;
  color: #cccccc;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  width: 93px;
  margin: 1rem auto 0.5rem auto; }

.footer__design_img {
  background-image: url(../sprites/sprite.png);
  background-position: -250px 0px;
  width: 110px;
  height: 24px;
  margin: 5px auto 15px auto; }

@media (min-width: 768px) {
  .wrp-header {
    height: 700px; }
  .header {
    min-width: 670px;
    margin: 0 auto; }
    .header__logo_container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      height: 7.6rem;
      padding: 0; }
    .header__enter_container {
      height: 3rem; }
    .header__title {
      font-size: 3.25rem;
      width: 600px;
      line-height: 4rem;
      margin: 5.8rem auto 1.5rem auto; }
    .header__text {
      font-size: 1.5rem;
      margin-bottom: 2.2rem; }
  .main {
    min-width: 700px;
    margin-bottom: 3.5rem; }
  .slider {
    position: relative; }
    .slider__container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      min-width: 748px;
      max-width: 940px;
      padding-left: 0; }
    .slider__hider-hide {
      display: block; }
    .slider__list {
      width: 15000px;
      padding: 0;
      position: relative; }
    .slider__item {
      position: relative;
      float: left;
      height: 400px;
      width: 240px; }
    .slider__hider {
      width: 240px;
      overflow: hidden;
      float: left; }
    .slider__left {
      position: absolute;
      top: 50px;
      left: 10px;
      z-index: 3;
      color: #fff;
      font-size: 90px;
      cursor: pointer;
      background-image: url(../sprites/sprite.png);
      background-position: -250px -106px;
      width: 30px;
      height: 55px; }
    .slider__right {
      position: absolute;
      top: 50px;
      right: 10px;
      margin-left: 50px;
      z-index: 4;
      color: #fff;
      font-size: 90px;
      cursor: pointer;
      background-image: url(../sprites/sprite.png);
      background-position: -280px -106px;
      width: 30px;
      height: 55px; }
  .partners {
    width: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 0.4rem; }
    .partners__container {
      height: 100%;
      overflow: hidden; }
    .partners__item {
      margin: 0.3rem 0 3.6rem 0; }
  .img {
    width: 748px; }
    .img__block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .img__result {
      height: 100%;
      width: 100%; }
    .img__search {
      width: 240px;
      padding-left: 5px; }
    .img__container {
      height: 310px;
      width: 235px; }
    .img__container:nth-child(5), .img__container:nth-child(6), .img__search:nth-child(5), .img__search:nth-child(5) {
      width: 480px; }
    .img__search_form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      width: 420px;
      margin: 1.5rem auto 0 auto; }
  #result {
    width: 725px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 970px; }
  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 692px;
    max-width: 960px;
    margin: 20px auto 0 auto; }
    .footer__info_cont {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 470px; }
    .footer__menu_cont {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .footer__menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      padding: 0; }
    .footer__comp {
      margin: 0; }
    .footer__item {
      margin-top: 0.4rem; } }

@media (min-width: 940px) {
  .header {
    width: 960px; }
  .slider {
    width: 300px; }
    .slider__hider {
      width: 300px; }
    .slider__container {
      width: 960px; }
    .slider__item {
      width: 300px; }
    .slider__left, .slider__right {
      top: 155px; }
  .partners {
    width: 940px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .partners__container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 50%; }
  .partner {
    width: 235px; }
  .img {
    width: 940px; }
    .img__container {
      width: 300px; }
    .img__container:nth-child(5), .img__container:nth-child(6), .img__search:nth-child(5), .img__search:nth-child(5) {
      width: 610px; }
  #result {
    width: 940px; }
  .footer {
    width: 960px; } }
