.wrapper {
	width: 908px;
	margin: 0 auto;
	position: relative;
	font-family: arial;
}
@font-face {
    font-family: 'Lusida Sans Unicode';
    src: url('bcccd674c3fe808a4b01b8914c6898d5.woff');
    font-weight: normal;
    font-style: normal;
}
img[alt="phone"] {
	height: 21px;
	width: 21px;
	border-radius: 100%;
	background: linear-gradient(to bottom, #1f6787, #0d3458);
}
.phone {
	margin-left: 8px;
	margin-top: 36px;
	display: inline-block;
}
.phone span {
	font-size: 17.5px;
	vertical-align: top;
	color: #5e696d;
	font-family: "Arial";
    letter-spacing: 0.66px;
}
.forms {
	height: 25px;
	width: 495px;
	background: linear-gradient(to bottom, #1f6787, #0d3458);
	border-radius: 3.5px;
	border-top: 2px solid #a6c3cf;
	margin-left: 11px;
	margin-top: 29px;
	vertical-align: top;
	display: inline-block;
	box-shadow:  1px 2px 4px 0 rgba(0,0,0,0.5);
	font-family: 'Lusida Sans Unicode';
	font-size: 10.91px;
}
.forms img {
	height: 18.5px;
	padding-top: 4.5px;
	padding-left: 6.5px;
	padding-right: 1px;
	padding-bottom: 4px;


}
form {
	display: inline-block;
	vertical-align: top;

}
input {
	border-radius: 1px;
	border: 1px solid #d6d8d9;
	width: 106px;
	height: 12.8px;
	margin-top: 2.8px;
	margin-right: 3px;
	padding-left: 4px;
	letter-spacing: 0.65px;
	font-size: 10.4px;
	line-height: 15px;
	border: 2px solid rgba(120,120,120,.5);
	border-radius: 2px;

}
input[type="password"] {
	margin-left: 1px;
	width: 106px;
	letter-spacing: 0.95px;

}

button {
	background: none;
	border: none;
	display: inline-block;
	padding-left: 3px;
}

button:after {
	content: '';
	height: 10px;
	width: 1px;
	background: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;
}
button,
form a {
	color: #fff;
	font-size: 10.91px;
	text-decoration: none;
	font-family: 'Lusida Sans Unicode';
}

form>a:last-child {
	margin-left: 15px;
	text-decoration: underline;
	color: #bfbfbf;
}

    /***********NAVIGATION PANEL***********/

.nav {
	height: 20px;
	width: 75px;
	border: 1px solid #c1c8cb;
	display: inline-block;
	border-radius: 10px;
	vertical-align: top;
	margin-top: 41px;
	box-shadow: 0 10px 6px -6px #111;
	position: relative;
}
.nav img {
	margin-left: 7px;
}
.shadow {
	position: relative;
}
.shadow:after {
	box-shadow: 0 15px 10px #777;
	transform: rotate(3deg);
	position: absolute;
}
.baner {
	margin-top: 4px;
	width: 908px;
}
nav {
	margin-top: 5px;
	height: 32px;
	background: linear-gradient(to bottom, rgba(80,88,96,1) 0%,rgba(70,77,84,1) 3%,rgba(45,50,54,1) 10%,rgba(42,46,50,1) 13%,rgba(19,21,23,1) 53%,rgba(7,8,9,1) 80%,rgba(1,1,1,1) 100%);
	border-radius: 5px;
	border: 1px solid #2c345a;
	

}
nav ul {
	float: left;
	position: relative;
}
.menu a {
	text-decoration: none;
	color: #b1bcc0;
	height: 26px;
	display: block;
}
nav li {
	
	display: inline-block;
	line-height: 32px;
	font-size: 14px;
	
}
.menu a {
	background: transparent;
	display: inline-block;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	line-height: 28px;
	border-radius: 13px;
	top: 3px;
	position: absolute;
}

.nav_1a {
	left: 125px;
	width: 123px;
	position: absolute;
	background: transparent;
}
.nav_2a {
	left: 260px;
	width: 90px;
	background: transparent;
}
.nav_3a {
	left: 360px;
	width: 96px;
	background: transparent;
}
.nav_4a {
	left: 460px;
	width: 90px;
	background: transparent;
}
.nav_5a {
	left: 560px;
	width: 96px;
	background: transparent;
}

.cash {
	float: right;
	right: 20px;
	color: #b1bcc0;
}
.cash a{
	color: #b1bcc0;
	text-decoration: none;
}
.cash li {
	padding-right: 15px;

}
.cash_img::before {
	width: 20px;
	height: 20px;
	background: url(../img/cash.png);
}

div {
	color: blue !important;
}



