body {
  margin: 0;
  background-size: cover; }

a {
  text-decoration: none; }

.wrp {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-top: 230px;
  opacity: 0;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main {
  margin: auto; }

.portfolio {
  margin: 20px 0 30px 0;
  height: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .portfolio__title {
    font-family: 'Work Sans', sans-serif;
    margin: auto;
    margin: 20px auto;
    text-align: center; }
  .portfolio__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto; }
  .portfolio__img {
    width: 280px; }

.photo {
  background: url("../img/my.jpg") top no-repeat;
  background-size: cover;
  height: 250px;
  width: 250px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: auto; }

.name {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  width: 220px;
  margin: 0 auto 20px auto; }

.js {
  position: relative;
  height: 100%;
  width: 280px;
  margin: auto;
  line-height: 22px;
  font-size: 1.0625em;
  overflow: hidden;
  font-family: 'Hind', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .js__container {
    width: 250px; }

.var {
  color: #d50000;
  padding-right: 5px;
  display: inline-block; }

.variable {
  color: #0091EA; }

.value {
  color: #1B5E20; }

.comment {
  color: #ccc; }

.object {
  width: 280px;
  margin-bottom: 20px;
  font-family: 'Work Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .object__bracket {
    font-size: 22px;
    color: #304FFE;
    font-family: 'Work Sans', sans-serif; }
  .object__css_selector {
    font-size: 20px;
    color: #4A148C; }
  .object__css_selector-lower_size {
    font-size: 18px; }
  .object__text {
    color: #263238;
    margin-left: 15px;
    font-family: 'Hind', sans-serif; }
  .object__variable {
    font-weight: 700; }
  .object__img {
    width: 280px; }

.skill {
  margin: 0; }
  .skill__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 280px; }
  .skill__text {
    width: 140px;
    text-align: right;
    margin-right: 3px;
    color: #303F9F; }
  .skill__scale {
    height: 10px;
    position: relative;
    background: #3949AB;
    display: block;
    margin: 5px 0 9px 3px; }

@media (min-width: 768px) {
  .wrp {
    width: 700px;
    margin: auto; }
  .portfolio {
    height: 130px;
    margin-top: 30px; }
    .portfolio__container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin: 0; }
    .portfolio__img {
      width: 200px; } }

@media (min-width: 960px) {
  .wrp {
    width: 960px;
    font-size: 0.8em; }
  .portfolio {
    height: 160px; }
    .portfolio__img {
      width: 280px; } }
