@font-face {
  font-family: 'League Gothic';
  src: url("leaguegothic-regular-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("opensans-regular-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url("opensans-light-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}
.h-wrp {
	height: 515px;
	background-color: hsla(225, 50%, 50%, 0.5);
	background: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
.m-wrp {
	height: 500px;
	background-color: hsla(245, 70%, 30%, 0.5);
}
.f-wrp {
	height: 200px;
	background-color: hsla(195, 30%, 50%, 0.5);
	background-position: top center;
}
header,
main,
footer {
	width: 960px;
	height: 100%;
	margin: auto;
}
header {
	font-family: 'League Gothic';
	color: #fff;
}
a {
	text-decoration: none;
}
.head_top .logo-end {
	color: #61436f;
}
.head_top {
	padding-top: 4.375rem;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.head_top a {              
	font-size: 3rem;
	color: #fff;
	display: flex;
}
.menu {
	/*display: flex;
    flex-direction: column;
    align-items: center;*/
}


/********HEAD MENU************/


.head_top .menu a {           /*розмір і колір силок*/
	font-size: 1.5rem;
	display: flex;

}

a.visible_link:hover {        /* ховер для видимого пункту меню*/
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
	border-bottom: 2px solid #edbfff;
	padding-left: 3px;
	padding-right: 3px;
}
.menu__list a:hover {
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
/****keep dropdown menu****/
.menu {


}
.menu__list {
	position: absolute;
	z-index: 100;
}

.hidden_link {
	position: relative;
	visibility: hidden;
}


a.visivle_link:hover {
	visibility: visible;
	position: relative;
	opacity: 1;
	width: 960px;
	margin: auto;
	background-color: rgba(54, 41, 62, 0.9);
	border: 1px solid #051116;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}






/*
.slider {
	width: 13rem;
	margin: auto;
}
.slider h2 {
	font-size: 2.25rem;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.slider span {
	font-size: 1.125rem;
	color: #edbfff;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.slider p {
	font-size: 1rem;
	font-family: 'Open Sans Light', Arial;
}
*/