@font-face {
  font-family: 'Hind';
  src: url("../fonts/Hind-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #F5F5F5;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }

.wrp {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.45);
  opacity: 0;
  top: 200px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: top 2s cubic-bezier(0, 0.5, 0.7, 1), opacity 2s cubic-bezier(0, 0.5, 0.7, 1);
  transition: top 2s cubic-bezier(0, 0.5, 0.7, 1), opacity 2s cubic-bezier(0, 0.5, 0.7, 1); }

.main {
  padding: 20px;
  margin: auto; }

.photo {
  display: block;
  height: 250px;
  width: 250px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 auto;
  border: 1px solid #008857; }
.link {
  text-decoration: underline;
}
.object a:hover {
  text-decoration: underline; }

.object {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #497;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  clear: both;
  overflow: hidden; }
  .object__content {
    color: #263238;
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 5px; }
  .object__title {
    display: block;
    padding: 5px;
    background-color: #008857;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #fff;
 }
  .object__title--inner {
    background-color: transparent;
    color: #008857;
    border-top: 1px solid #008857;
    border-bottom: 1px dashed #008857; }
  .object__title-big_size {
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0; }
  .object__title--lower_size {
    font-size: 18px;
    letter-spacing: -1px; }
  .object__variable {
    font-weight: 700;
    color: #000; }
  .object__variable--green {
    color: #008857;
  }
  .object__value {
    color: #000; }
  .object__value--print {
    visibility: hidden;
  }

.object:first-child {
  border: 0; }

.skill {
  margin-top: 4px; }
  .skill__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 250px; }
  .skill__text {
    width: 120px;
    text-align: right;
    margin-right: 3px;
    color: #000; }
  .skill__scale {
    height: 10px;
    width: 1px;
    position: relative;
    background: #008857;
    display: block;
    margin: 5px 0 9px 3px; }

.print {
  margin: auto;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5em;
  display: none;
  visibility: hidden; }

.portfolio {
  background: #fff;
  margin: 0 0 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Work Sans', sans-serif; }
  .portfolio__title {
    margin: 20px auto;
    text-align: center; }
  .portfolio__container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto; }
  .portfolio__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .portfolio__img {
    width: 300px; }
  .portfolio__tags {
    font-family: Arial;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    vertical-align: bottom;
    font-size: 100%; }


@media (min-width: 680px) {
  .wrp {
    margin: auto; }
  .portfolio {
    height: 250px; }
    .portfolio__container {
      width: 90%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .portfolio__link {
      width: 32%; }
    .portfolio__img {
      width: 100%; } }

@media (min-width: 980px) {
  .wrp {
    width: 980px;
    font-size: 0.9em; } }

@media print {
  .object__variable {
    font-family: Arial; }
  .object__variable--hide_to_print {
    display: none;
  }
  .print {
    display: block;
    visibility: visible;
    padding-bottom: 30px;
   }
  .portfolio {
    display: none;
    visibility: hidden; }
  .object__value--print{
    /* display: block; */
    visibility: visible;
    } }
