@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Black';
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff"), url("../fonts/roboto-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Black Italic';
  src: url("../fonts/roboto-blackitalic-webfont.eot");
  src: url("../fonts/roboto-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-blackitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-blackitalic-webfont.woff") format("woff"), url("../fonts/roboto-blackitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Bold Italic';
  src: url("../fonts/roboto-bolditalic-webfont.eot");
  src: url("../fonts/roboto-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"), url("../fonts/roboto-bolditalic-webfont.woff") format("woff"), url("../fonts/roboto-bolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Italic';
  src: url("../fonts/roboto-italic-webfont.eot");
  src: url("../fonts/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-italic-webfont.woff2") format("woff2"), url("../fonts/roboto-italic-webfont.woff") format("woff"), url("../fonts/roboto-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Light Italic';
  src: url("../fonts/roboto-lightitalic-webfont.eot");
  src: url("../fonts/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-lightitalic-webfont.woff") format("woff"), url("../fonts/roboto-lightitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Medium Italic';
  src: url("../fonts/roboto-mediumitalic-webfont.eot");
  src: url("../fonts/roboto-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-mediumitalic-webfont.woff") format("woff"), url("../fonts/roboto-mediumitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/roboto-thin-webfont.eot");
  src: url("../fonts/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto-thin-webfont.woff") format("woff"), url("../fonts/roboto-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Thin Italic';
  src: url("../fonts/roboto-thinitalic-webfont.eot");
  src: url("../fonts/roboto-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thinitalic-webfont.woff2") format("woff2"), url("../fonts/roboto-thinitalic-webfont.woff") format("woff"), url("../fonts/roboto-thinitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.1429em; }

a {
  text-decoration: none; }

li {
  list-style: none; }

h2 {
  font-family: 'Mantserrat Bold'; }

.wrp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff; }

.main__p {
  font-family: 'Roboto Light';
  font-size: 0.875rem;
  color: #cccccc; }

.main__title {
  font-family: 'Mantserrat Bold';
  font-size: 22px;
  color: #fff;
  text-align: center; }

.main__title_big {
  font-family: "Mantserrat Bold";
  font-size: 24px;
  color: #fff; }

.main__title-black {
  font-family: "Montserrat Bold";
  color: #000;
  font-size: 1.2rem; }

.circular {
  display: block;
  height: 40px;
  line-height: 36px;
  width: 280px;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin: auto; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix {
  clear: both;
  overflow: hidden; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/myriadpro-regular.woff2");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.wrp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Myriad Pro Regular", Tahoma; }

.wrp_inner {
  height: 100%;
  width: 1160px;
  margin: auto;
  overflow: hidden; }

.wrp-white {
  background-color: #fff; }

.main_paragraph {
  color: #8a8a8a;
  line-height: 20px;
  font-size: 13px;
  font-family: "Arial Regular", Tahoma; }

.header {
  width: 1160px;
  margin: auto; }

.top_bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  float: left; }

.logo__img {
  background: url("../img/logo_bg.jpg");
  height: 36px;
  width: 36px;
  display: inline-block;
  margin: 37px 8px; }

.logo__txt {
  float: right;
  padding-top: 36px;
  color: #2a2d32; }

.logo__txt_top {
  font-size: 30px;
  line-height: 27px;
  margin: 0;
  font-weight: 700; }

.logo__txt_bottom {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding-left: 1.5px;
  text-transform: uppercase;
  letter-spacing: 3px; }

.links {
  float: right;
  list-style: none; }

.links__item {
  display: block;
  width: 16px;
  float: left;
  height: 16px;
  background: url("../img/sprite_social.png");
  margin: 3px; }

.facebook {
  background-position: 0 0; }

.twitter {
  background-position: -32px 0; }

.rss {
  background-position: 84px 0; }

.linkedin {
  background-position: 50px 0; }

.skype {
  background-position: 18px 0; }

.facebook:hover {
  background-position: 0 18px; }

.twitter:hover {
  background-position: -32px 18px; }

.rss:hover {
  background-position: 84px 18px; }

.linkedin:hover {
  background-position: 50px 18px; }

.skype:hover {
  background-position: 18px 18px; }

.menu {
  height: 56px;
  width: 100%;
  background-color: #2a2d32;
  list-style: none;
  padding-left: 0; }

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  line-height: 56px;
  padding: 0 40px;
  float: left;
  border-right: 1px solid #181a1d;
  text-transform: uppercase; }

.menu__item:first-child {
  background-color: #248cec; }

.menu__link:hover {
  color: #f4b60d; }

.wrp-article {
  padding: 60px 0; }

.article__blocks {
  width: 370px;
  float: left;
  font-size: 0.8125em;
  margin-right: 25px; }

.article__blocks:last-child {
  margin-right: 0; }

.article__h {
  color: #2a2b2e;
  padding: 15px 0;
  font-weight: 600;
  font-size: 20px; }

.article__p {
  height: 3.5em;
  overflow: hidden;
  padding-bottom: 15px; }

.article__link {
  display: block;
  line-height: 50px;
  text-decoration: none;
  color: #2a2b2e;
  font-weight: 600; }

.article__link:hover {
  color: #248cec; }

.article__link_arrow {
  display: inline-block;
  margin-left: 10px;
  height: 10px;
  width: 12px;
  background-image: url("../img/sprite_adv.png");
  background-position: 12px 0; }

.article__link:hover .article__link_arrow {
  background-position: 24px 0; }

.article__bg {
  height: 33px;
  width: 33px;
  background-image: url("../img/sprite_adv.png"); }

.article__bg-setting {
  background-position: 93px 0; }

.article__bg-delivery {
  background-position: 60px 0; }

.article__container {
  height: 15em;
  width: 235px;
  display: block;
  overflow: hidden; }

.article__number {
  font-size: 90px;
  margin: -15px 30px 0 0;
  color: #8a8a8a;
  float: left; }

.wrp-dark {
  background-color: #2a2d32;
  color: #fff;
  width: 100%; }

.services {
  height: 495px;
  width: 1160px;
  margin: auto; }

.main_title {
  padding: 45px 25px 45px 0;
  font-weight: bold;
  font-size: 24px; }

.services__containers {
  float: left;
  text-decoration: none;
  color: #fff;
  padding-left: 25px; }

.services__containers:hover {
  color: #f4b60d; }

.services__img {
  display: block;
  height: 260px;
  width: 260px;
  background: url("../img/services1.jpg");
  background-position: right; }

.services__img-maintence {
  background: url("../img/services2.jpg");
  background-position: center; }

.services__img-tire {
  background: url("../img/services3.jpg");
  background-position: right; }

.services__img-repair {
  background: url("../img/services4.jpg");
  background-position: center; }

.services__link {
  display: block;
  text-align: center;
  padding: 10px; }

.services__bg {
  visibility: hidden; }

.services__containers:hover .services__bg {
  background: rgba(30, 90, 255, 0.7);
  color: #fff;
  font-size: 60px;
  text-align: center;
  line-height: 260px;
  margin-top: auto;
  height: 100%;
  width: 100%;
  visibility: visible; }

.wrp-grey {
  background-color: #f7f7f7;
  height: 580px; }

.latest_news {
  width: 555px;
  float: left; }

.latest_news__block {
  clear: both;
  margin-bottom: 75px;
  position: relative; }

.latest_news__img {
  height: 150px;
  width: 150px;
  float: left;
  margin: 0 18px;
  z-index: 1; }

.latest_news__square {
  height: 40px;
  width: 40px;
  background-color: #248cec;
  position: absolute;
  z-index: 5;
  top: 15px;
  right: 518px;
  color: #fff;
  text-align: center;
  line-height: 40px; }

.latest_news__square-orange {
  background-color: #f4b60d;
  position: absolute;
  top: 55px;
  color: #000;
  z-index: 5; }

.latest_news__title {
  text-decoration: none;
  color: #000;
  font-weight: 600; }

.latest_news__title:hover {
  color: #248cec; }

.latest_news__info {
  color: #8a8a8a;
  display: block;
  line-height: 20px; }

.latest_news__info-blue {
  color: #248cec; }

.latest_news__paragraph {
  padding-top: 18px; }

.main_title-padding {
  margin-left: 50px; }

.banners {
  overflow: hidden; }

.fa {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 39px;
  width: 39px;
  border-right: 2px solid #ddd;
  float: left;
  text-align: center;
  font-family: Arial, Tahoma; }

.banners__container {
  float: right;
  position: relative;
  width: 560px;
  height: auto;
  margin: auto; }

.banners__set {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  margin: 10px 0; }

.banners__set > .banners__link {
  display: block;
  height: 39px;
  line-height: 39px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border: 1px solid #ddd;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.banners__set > .banners__link i {
  position: relative; }

.banners__set .active {
  background-color: #f4b60d;
  color: #fff; }

.active .fa {
  border-right: solid #fff 0.5px; }

.banners__set > .banners__link .active i {
  color: #fff; }

.banners__content {
  position: relative;
  height: 95px;
  width: 100%;
  font-size: 13px;
  line-height: 20px;
  color: #8a8a8a;
  height: auto;
  display: none; }

.banners__content .banners__info {
  padding: 35px 15px 35px 40px;
  margin: 0;
  background-color: #f7f7f7; }

.banners__title {
  padding-left: 12px;
  font-size: 13px;
  text-transform: uppercase; }

.b_active {
  display: block; }

.partners {
  padding: 50px 0 50px 0;
  height: 100%;
  clear: both; }

.partner__link {
  display: block;
  padding-left: 52px;
  float: left; }

.partner__link:first-child {
  padding-left: 0; }

.wrp_footer {
  font-family: "Arial Regular"; }

.footer__menu {
  float: left;
  width: 260px;
  margin-right: 30px; }

.footer__menu:last-child {
  margin-left: 0; }

.main_title-footer {
  text-transform: uppercase; }

.footer__link {
  text-decoration: none;
  color: #8a8a8a;
  line-height: 36px;
  display: block;
  border-bottom: 1px solid #393c40; }

.footer__link:hover {
  color: #248cec; }

.footer__link-wob {
  border: none; }

.wrp-light_dark {
  background-color: #35383c;
  height: 60px;
  width: 100%;
  margin-top: 70px;
  overflow: hidden; }

.bottom__text {
  line-height: 60px;
  color: #8a8a8a; }

.bottom li {
  float: left;
  font-size: 12px; }

.bottom li:last-child {
  float: right;
  padding-right: 0; }

.bottom__text {
  padding-right: 36px; }

.bottom__img {
  margin-top: 20px;
  margin-right: 10px;
  height: 20px;
  width: 16px;
  background: url("../img/footer_sprite.png"); }

.bottom__img-2 {
  background-position: 40px 0; }

.bottom__img-3 {
  background-position: 20px 0; }

.bottom__text-link {
  color: #8a8a8a;
  text-decoration: none; }

.wrp-header {
  background: url("../img/bg.jpg") no-repeat center;
  background-size: cover; }

.header {
  height: 540px;
  min-width: 320px;
  overflow: hidden;
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px; }

.enter {
  width: 152px;
  margin: auto; }
  .enter__log_in {
    width: 100%;
    overflow: hidden; }
  .enter__item {
    width: 90px;
    font-size: 14px;
    height: 36px;
    line-height: 33px;
    font-family: "Montserrat Regular";
    font-weight: 100;
    float: left;
    margin-top: 20px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .enter__item-min_w {
    width: 62px;
    color: #fff;
    display: block; }
  .enter__h2 {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Montserrat Bold";
    font-size: 20px;
    letter-spacing: 1px;
    width: 190px;
    color: #fff;
    margin-top: 118px; }

.holiday {
  text-align: center; }
  .holiday__title {
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 28px 0 0 0; }
  .holiday__paragraph {
    margin: auto;
    margin-top: 8px;
    line-height: 1.2rem;
    width: 230px;
    font-family: "Roboto Light";
    font-size: 1rem; }

.circular-red {
  background-color: #ff4e50;
  border-color: #ff4e50;
  font-family: "Montserrat Bold";
  font-size: 0.870em;
  margin-top: 15px; }

.wrp .works {
  height: 240px;
  width: 300px;
  overflow: hidden;
  margin: auto;
  padding-left: 20px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0px -180px 300px -130px;
          box-shadow: inset 0px -180px 300px -130px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .wrp .works__step {
    color: #fff;
    font-family: "Montserrat Regular";
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    background: #ff4e50;
    line-height: 22px;
    height: 20px;
    width: 70px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding-left: 5px;
    margin-top: 67px; }
  .wrp .works__hider-2 {
    display: none; }
  .wrp .works_inner {
    padding-left: 0; }
  .wrp .works__list {
    padding: 0; }

.works-1 {
  background: url("../img/sprite/work1.png");
  background-size: cover;
  background-position: center; }

.works-2 {
  background: url("../img/sprite/work2.png");
  background-size: cover;
  background-position: center; }

.works-3 {
  background: url("../img/sprite/work3.png");
  background-size: cover;
  background-position: center; }

.main__title_big-fonts {
  font-family: "Montserrat Regular";
  font-weight: 300;
  line-height: 28px;
  margin: 17px 0 -5px 0; }

.main__p-padding {
  width: 260px;
  font-size: 14px;
  line-height: 1.3em; }

.partners {
  min-width: 300px;
  height: 100%;
  margin: auto;
  margin-top: 34px;
  overflow: hidden; }

.partner {
  width: 250px;
  margin: auto;
  margin-bottom: 23px;
  text-align: center; }
  .partner__photo {
    background-image: url(sprite.png);
    background-position: -443px -401px;
    width: 122px;
    height: 122px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: auto;
    position: relative;
    margin-bottom: 20px; }
  .partner__name {
    font-size: 14px;
    font-family: "Montserrat Bold"; }
  .partner__ico {
    background-image: url(sprite.png);
    background-position: -570px -316px;
    width: 41px;
    height: 41px;
    height: 40px;
    width: 42px;
    padding: 10px;
    position: absolute;
    left: 85px;
    top: 85px; }
  .partner__photo-2 {
    background-image: url(sprite.png);
    background-position: -446px -275px;
    width: 124px;
    height: 124px; }
  .partner__photo-3 {
    background-image: url(sprite.png);
    background-position: -320px -401px;
    width: 123px;
    height: 123px; }
  .partner__photo-4 {
    background-image: url(sprite.png);
    background-position: -320px -275px;
    width: 126px;
    height: 126px; }
  .partner__ico-2 {
    background-image: url(sprite.png);
    background-position: -565px -456px;
    width: 41px;
    height: 40px; }
  .partner__ico-3 {
    background-image: url(sprite.png);
    background-position: -570px -357px;
    width: 41px;
    height: 41px; }
  .partner__ico-4 {
    background-image: url(sprite.png);
    background-position: -570px -275px;
    width: 41px;
    height: 41px; }

.main__title-spcing {
  line-height: 24px;
  letter-spacing: -0.2px; }

.main__p-dark_grey {
  color: #666666;
  font-size: 13.95px;
  width: 200px;
  margin: auto;
  margin-top: -4px;
  line-height: 17.5px; }

.circular-red_border {
  color: #ff4e50;
  border-color: #ff4e50;
  font-size: 14px;
  font-family: "Montserrat Bold"; }

.img__container {
  display: block;
  position: relative;
  margin-bottom: 8px;
  width: 296px;
  height: 150px;
  overflow: hidden; }

.holiday {
  margin-bottom: 40px; }

.holiday__text {
  font-family: "Roboto Light";
  font-size: 17.95px; }

.img__search {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-border-radius: 8px;
          border-radius: 8px; }

.img__text {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30%;
  font-size: 15px;
  color: #fff;
  z-index: 2;
  text-transform: capitalize;
  font-family: "Montserrat Bold";
  font-size: 21.99px; }

#result {
  height: 100%;
  width: 300px;
  margin: 0 auto;
  display: block;
  position: relative; }

#search_in {
  font-family: "Roboto Light";
  font-size: 14px;
  color: #cccccc;
  height: 40px;
  width: 280px;
  padding-left: 15px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

#button {
  font-size: 13.96px;
  font-weight: 400; }

.wrp-red_line {
  border-top: 4px solid #ff4e50; }

.footer__title {
  font-family: "Montserrat Bold";
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #ff4e50; }

.footer__comp {
  font-family: "Montserrat Bold";
  font-size: 14px;
  color: #000;
  display: block;
  width: 80px;
  margin: auto; }

.footer__menu {
  width: 300px;
  font-family: "Roboto Light";
  font-size: 14px;
  margin: 5px auto 40px auto; }

.footer__item {
  float: left;
  margin-right: 12px; }

.footer__item a {
  color: #666666; }

.footer__design {
  font-family: "Montserrat Bold";
  font-size: 9.95px;
  color: #cccccc;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  width: 93px;
  margin: 20px auto 10px auto; }

.footer__design_img {
  background-image: url(sprite.png);
  background-position: 0px -542px;
  width: 110px;
  height: 24px;
  margin: 5px auto 15px auto; }

@media (min-width: 768px) {
  .header {
    min-width: 768px;
    max-width: 940px;
    margin: auto; }
  .enter {
    width: 90%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .enter__log_in {
      width: 200px; }
    .enter__h2 {
      margin-top: 25px; }
  .holiday__title {
    font-size: 51.97px;
    width: 60%;
    margin: 70px auto 0 auto;
    font-family: "Montserrat Bold"; }
  .holiday__paragraph {
    font-size: 23.99px;
    margin: 30px auto; }
  .wrp .works {
    display: block;
    float: left;
    position: relative;
    margin-right: 25px;
    height: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px; }
    .wrp .works__hider-2 {
      display: block; }
    .wrp .works_inner {
      max-width: 768px;
      margin: auto;
      padding-left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
    .wrp .works__list {
      width: 15000px;
      padding: 0;
      position: relative; }
    .wrp .works__hider {
      width: 240px;
      overflow: hidden;
      float: left; }
  .slider-left {
    position: absolute;
    top: 150px;
    left: 5px;
    z-index: 3;
    color: #fff;
    font-size: 90px;
    cursor: pointer;
    background-image: url(sprite.png);
    background-position: -595px -401px;
    width: 30px;
    height: 55px; }
  .slider-right {
    position: absolute;
    top: 150px;
    right: 5px;
    margin-left: 50px;
    z-index: 4;
    color: #fff;
    font-size: 90px;
    cursor: pointer;
    background-image: url(sprite.png);
    background-position: -565px -401px;
    width: 30px;
    height: 55px; }
  .slider-wrp {
    position: relative; }
  .inactive {
    color: #cccccc; }
  .partners {
    width: 500px; }
  .partner {
    float: left; }
  .img__search {
    height: 100%;
    width: 100%; }
  .img__container {
    height: 310px;
    width: 235px; }
  .img__container:nth-child(5),
  .img__container:nth-child(6),
  .img__search:nth-child(5),
  .img__search:nth-child(5) {
    width: 480px; }
  #result {
    height: 100%;
    width: 768px;
    margin: auto; }
  .holiday__search_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px; }
  #button {
    margin: 0 0 0 30px; }
  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-top: 20px;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .footer__menu_cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .footer__comp {
    margin: 0; } }

@media (min-width: 940px) {
  .partners {
    width: 940px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .partner {
    width: 235px; }
  .works__hider {
    width: 300px; } }

.slider-box {
  width: 1160px;
  height: 470px;
  padding-top: 30px;
  overflow: hidden;
  margin: auto; }

.slider {
  position: relative;
  width: 10000px;
  height: 470px; }

.slider__bg {
  position: absolute;
  height: 100%;
  width: 1160px;
  z-index: 1;
  background-image: url("../img/slider.png"); }

.slider__radio {
  float: left;
  z-index: 0; }

.slider__img {
  height: 470px;
  width: 1160px;
  float: left; }

.slider__img-1 {
  background-image: url("../img/slider_bg.jpg"); }

.slider__img-2 {
  background-image: url("../img/2.jpg"); }

.slider__img-3 {
  background-image: url("../img/3.jpg"); }

.slider__text {
  position: absolute;
  top: 175px;
  margin-left: 32px;
  padding: 25px 27px 0 25px;
  font-size: 54px;
  font-weight: 600;
  color: #fff;
  line-height: 54px;
  background-color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  z-index: 2; }

.slider__text-1 {
  color: #f4b60d; }

.slider__text-2 {
  position: absolute;
  top: 254px;
  z-index: 3;
  padding: 0 37px 0 25px;
  line-height: 52px; }

.slider__text-3 {
  position: absolute;
  top: 306px;
  z-index: 3;
  padding: 0 0 25px 25px;
  line-height: 54px; }

.slider__text-4 {
  position: absolute;
  top: 281px;
  margin-left: 222px;
  z-index: 4;
  padding: 25px 25px 25px 3px;
  line-height: 54px; }

.bullets {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -50px;
  height: 15px;
  width: 100px;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10; }

.bullets li {
  width: 15px;
  height: 15px;
  margin: 0 15px 0 0;
  padding: 0;
  float: left;
  background-color: #fff; }

.bullets li.active {
  background-image: url("../img/bullets.png"); }
